openapi: 3.1.0
info:
  title: Praxa Execution Fabric API
  version: 1.0.0-partner-preview
  summary: Production partner-preview API for durable task execution.
  description: >-
    This specification describes the minimal public execution subset available
    to the production partner-preview cohort. Durable task admission, run reads,
    reconnectable event streams, and cancellation requests are active.
    POST /v1/execute accepts mode task only; mode turn is rejected as a 400
    invalid_request, and /v1/chat is not routed. Request-level
    agent/tool/policy/delivery overrides remain unavailable. Usage readback is
    active. Digest-bound public approval remains pending production activation.
    Cancellation reconciliation is deployed, and production canaries cover
    both pre-dispatch and provider-in-flight final-state branches.
    Bearer webhook management and HMAC-signed delivery are active for admitted
    personal tenants. Signed-in platform management surfaces are documented
    separately in the guides.
servers:
  - url: https://api.praxa.io
    description: Production partner-preview origin.
security:
  - FabricKey: []
tags:
  - name: Execute
  - name: Runs
  - name: Events
  - name: Approvals
  - name: Usage
  - name: Webhooks
  - name: Webhook deliveries
paths:
  /v1/execute:
    post:
      operationId: executeDurableTask
      summary: Admit a minimal durable task
      description: >-
        Accepts mode task only. Agent, context, tools, policy, delivery, mode
        turn, and every other unknown member are rejected before task creation
        with a 400 invalid_request response. /v1/chat is not a routed endpoint.
      tags: [Execute]
      x-required-scopes: [execute:write]
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            $ref: '#/components/schemas/Identifier'
          description: >-
            Must equal the body idempotencyKey when both are present. The
            effective key is header, body, then requestId.
        - name: X-AI-Platform-Version
          in: header
          required: false
          schema:
            type: string
            const: v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteTaskRequest'
            example:
              apiVersion: v1
              requestId: tutorial-task-2026-08-13
              mode: task
              task:
                input: Summarize the incident and propose the next safe action.
              idempotencyKey: tutorial-task-2026-08-13
      responses:
        '202':
          description: Durable task admitted or exact idempotent replay returned.
          headers:
            Location:
              schema:
                type: string
                pattern: '^/v1/runs/'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResource'
        '400':
          $ref: '#/components/responses/ProblemResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/runs/{id}:
    get:
      operationId: getRun
      summary: Read a tenant-owned run projection
      tags: [Runs]
      x-required-scopes: [runs:read]
      parameters:
        - $ref: '#/components/parameters/RunId'
      responses:
        '200':
          description: Customer-safe run projection.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResource'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/runs/{id}/events:
    get:
      operationId: streamRunEvents
      summary: Stream reconnectable durable-run events
      tags: [Events]
      x-required-scopes: [runs:read]
      parameters:
        - $ref: '#/components/parameters/RunId'
        - name: Last-Event-ID
          in: header
          required: false
          schema:
            type: integer
            minimum: 0
          description: Resume strictly after this task_run_events sequence.
      responses:
        '200':
          description: >-
            SSE frames include matching numeric id and payload sequence. Comment
            heartbeats may appear. During uncertain-outcome reconciliation, the
            run remains non-terminal and keeps the stream open. A
            completed, failed, or cancelled run closes it.
          content:
            text/event-stream:
              schema:
                $ref: '#/components/schemas/RunEvent'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/runs/{id}/cancel:
    post:
      operationId: cancelRun
      summary: Request durable-run cancellation
      tags: [Runs]
      x-required-scopes: [runs:write]
      parameters:
        - $ref: '#/components/parameters/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 0
              maxProperties: 0
              description: The request body is exactly an empty JSON object.
      responses:
        '200':
          description: >-
            Updated run projection. Acceptance does not imply rollback or an
            immediate cancelled state. Internal cancelling and
            reconcile_required states both map to running until the run reaches
            a terminal outcome.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResource'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/runs/{id}/approve:
    post:
      operationId: decideRunApproval
      summary: Approve or deny an exact pending browser action
      description: >-
        Source-ready but pending production activation. The key must carry
        runs:write. Praxa re-derives the exact recorded browser-action
        presentation before accepting the decision. The supplied digest must
        match that presentation and the pending action. Missing, stale,
        foreign-tenant, unsupported, or mismatched approvals fail closed; Praxa
        never substitutes a generic summary.
      tags: [Approvals]
      x-activation-status: pending
      x-hidden: true
      x-required-scopes: [runs:write]
      parameters:
        - $ref: '#/components/parameters/RunId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovalDecision'
      responses:
        '200':
          description: Updated run projection after the digest-bound decision.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RunResource'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/usage:
    get:
      operationId: getUsage
      summary: Read tenant-scoped usage evidence
      description: The key must carry usage:read.
      tags: [Usage]
      x-required-scopes: [usage:read]
      parameters:
        - name: from
          in: query
          required: true
          description: Inclusive RFC 3339 range start.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: to
          in: query
          required: true
          description: >-
            Exclusive RFC 3339 range end. It must be after from; the management
            implementation accepts a maximum range of 366 days.
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum: [hour, day, month]
            default: day
        - name: api_key_id
          in: query
          required: false
          description: Limit readback to one API key owned by the tenant.
          schema:
            $ref: '#/components/schemas/Identifier'
      responses:
        '200':
          description: Evidence-bounded usage totals and time buckets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/webhooks:
    get:
      operationId: listWebhookEndpoints
      summary: List webhook endpoints
      description: >-
        Production partner preview. The gateway and backend both require
        runs:read. Signing secrets are never returned by this operation.
      tags: [Webhooks]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:read]
      x-backend-required-scopes: [runs:read]
      responses:
        '200':
          description: Tenant-owned webhook endpoint metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpointList'
        default:
          $ref: '#/components/responses/ProblemResponse'
    post:
      operationId: createWebhookEndpoint
      summary: Create a webhook endpoint
      description: >-
        Production partner preview. The gateway checks runs:write; the backend
        reauthorizes both runs:read and runs:write, so the key must carry both
        scopes. The signing secret is returned only once.
      tags: [Webhooks]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:write]
      x-backend-required-scopes: [runs:read, runs:write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookEndpointInput'
      responses:
        '201':
          description: Endpoint metadata and its one-time signing secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateWebhookEndpointResult'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/webhooks/{endpointId}:
    patch:
      operationId: updateWebhookEndpoint
      summary: Update a webhook endpoint
      description: >-
        Production partner preview. The gateway checks runs:write; the backend
        reauthorizes both runs:read and runs:write, so the key must carry both
        scopes. The strict request must contain at least one field.
      tags: [Webhooks]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:write]
      x-backend-required-scopes: [runs:read, runs:write]
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookEndpointInput'
      responses:
        '200':
          description: Updated endpoint metadata.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEndpoint'
        default:
          $ref: '#/components/responses/ProblemResponse'
    delete:
      operationId: deleteWebhookEndpoint
      summary: Disable a webhook endpoint
      description: >-
        Production partner preview. The gateway checks runs:write; the backend
        reauthorizes both runs:read and runs:write, so the key must carry both
        scopes. Deletion disables the endpoint and returns no body.
      tags: [Webhooks]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:write]
      x-backend-required-scopes: [runs:read, runs:write]
      parameters:
        - $ref: '#/components/parameters/EndpointId'
      responses:
        '204':
          description: Endpoint disabled.
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/webhook-deliveries:
    get:
      operationId: listWebhookDeliveries
      summary: List webhook deliveries
      description: >-
        Production partner preview. The gateway and backend both require
        runs:read.
      tags: [Webhook deliveries]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:read]
      x-backend-required-scopes: [runs:read]
      parameters:
        - name: endpoint_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Identifier'
        - name: run_id
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/Identifier'
        - name: status
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/WebhookDeliveryStatus'
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: cursor
          in: query
          required: false
          schema:
            type: string
            minLength: 1
            maxLength: 512
      responses:
        '200':
          description: A cursor-paged list of tenant-owned delivery records.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDeliveryList'
        default:
          $ref: '#/components/responses/ProblemResponse'

  /v1/webhook-deliveries/{deliveryId}/replay:
    post:
      operationId: replayWebhookDelivery
      summary: Replay a webhook delivery
      description: >-
        Production partner preview. The gateway checks runs:write; the backend
        reauthorizes both runs:read and runs:write, so the key must carry both
        scopes. Send an exact empty JSON object.
      tags: [Webhook deliveries]
      x-activation-status: partner-preview
      x-gateway-required-scopes: [runs:write]
      x-backend-required-scopes: [runs:read, runs:write]
      parameters:
        - $ref: '#/components/parameters/DeliveryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              maxProperties: 0
      responses:
        '202':
          description: The created or idempotently reused replay delivery.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookDelivery'
        default:
          $ref: '#/components/responses/ProblemResponse'

components:
  securitySchemes:
    FabricKey:
      type: http
      scheme: bearer
      bearerFormat: praxa_sk_<64 lowercase hex characters>
      description: >-
        Exact format: praxa_sk_ followed by 64 lowercase hexadecimal
        characters. The gateway does not accept Supabase JWT principals. The
        exact scope vocabulary is execute:write, runs:read, runs:write, and
        usage:read.
  parameters:
    RunId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    EndpointId:
      name: endpointId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Identifier'
    DeliveryId:
      name: deliveryId
      in: path
      required: true
      schema:
        $ref: '#/components/schemas/Identifier'
  responses:
    ProblemResponse:
      description: RFC 9457-style fail-closed problem.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    PlatformScope:
      type: string
      enum: [execute:write, runs:read, runs:write, usage:read]
    Identifier:
      type: string
      minLength: 1
      maxLength: 128
      pattern: '^[A-Za-z0-9][A-Za-z0-9._:-]*$'
    Timestamp:
      type: string
      format: date-time
    UsageTotals:
      type: object
      additionalProperties: false
      properties:
        requests: { type: integer, minimum: 0 }
        runs: { type: integer, minimum: 0 }
        inputTokens: { type: integer, minimum: 0 }
        outputTokens: { type: integer, minimum: 0 }
        modelCalls: { type: integer, minimum: 0 }
        toolCalls: { type: integer, minimum: 0 }
        billableAmountMicros: { type: integer, minimum: 0 }
      required:
        - requests
        - runs
        - inputTokens
        - outputTokens
        - modelCalls
        - toolCalls
        - billableAmountMicros
    UsageSeriesItem:
      type: object
      additionalProperties: false
      properties:
        bucketStart:
          $ref: '#/components/schemas/Timestamp'
        bucketEnd:
          $ref: '#/components/schemas/Timestamp'
        usage:
          $ref: '#/components/schemas/UsageTotals'
      required: [bucketStart, bucketEnd, usage]
    UsageByApiKeyItem:
      type: object
      additionalProperties: false
      properties:
        apiKeyId:
          $ref: '#/components/schemas/Identifier'
        name:
          type: string
          minLength: 1
          maxLength: 128
        usage:
          $ref: '#/components/schemas/UsageTotals'
      required: [apiKeyId, name, usage]
    UsageResponse:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        from:
          $ref: '#/components/schemas/Timestamp'
        to:
          $ref: '#/components/schemas/Timestamp'
        currency:
          type: string
          minLength: 3
          maxLength: 3
        totals:
          $ref: '#/components/schemas/UsageTotals'
        series:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/UsageSeriesItem'
        byApiKey:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/UsageByApiKeyItem'
      required: [apiVersion, from, to, currency, totals, series]
    WebhookEventType:
      type: string
      enum:
        - run.accepted
        - run.started
        - run.progress
        - approval.required
        - approval.resolved
        - run.completed
        - run.failed
        - run.cancelled
    WebhookEventTypes:
      type: array
      minItems: 1
      maxItems: 8
      uniqueItems: true
      items:
        $ref: '#/components/schemas/WebhookEventType'
    WebhookHttpsUrl:
      type: string
      format: uri
      maxLength: 2048
      pattern: '^https://'
    CreateWebhookEndpointInput:
      type: object
      additionalProperties: false
      properties:
        url:
          $ref: '#/components/schemas/WebhookHttpsUrl'
        event_types:
          $ref: '#/components/schemas/WebhookEventTypes'
        description:
          type: string
          minLength: 1
          maxLength: 256
      required: [url, event_types]
      example:
        url: https://events.example.com/webhooks/praxa
        event_types: [run.completed, run.failed]
        description: Production task outcomes
    UpdateWebhookEndpointInput:
      type: object
      additionalProperties: false
      minProperties: 1
      properties:
        url:
          $ref: '#/components/schemas/WebhookHttpsUrl'
        event_types:
          $ref: '#/components/schemas/WebhookEventTypes'
        description:
          type: [string, 'null']
          minLength: 1
          maxLength: 256
        status:
          type: string
          enum: [active, disabled]
    WebhookEndpoint:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        id:
          $ref: '#/components/schemas/Identifier'
        url:
          $ref: '#/components/schemas/WebhookHttpsUrl'
        event_types:
          $ref: '#/components/schemas/WebhookEventTypes'
        description:
          type: string
          minLength: 1
          maxLength: 256
        status:
          type: string
          enum: [active, disabled]
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
      required: [apiVersion, id, url, event_types, status, createdAt, updatedAt]
    CreateWebhookEndpointResult:
      type: object
      additionalProperties: false
      properties:
        endpoint:
          $ref: '#/components/schemas/WebhookEndpoint'
        signing_secret:
          type: string
          minLength: 16
          maxLength: 512
          description: Returned only when the endpoint is created.
      required: [endpoint, signing_secret]
    WebhookEndpointList:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        data:
          type: array
          maxItems: 1000
          items:
            $ref: '#/components/schemas/WebhookEndpoint'
      required: [apiVersion, data]
    WebhookDeliveryStatus:
      type: string
      enum: [pending, delivering, succeeded, retrying, dead_letter]
    WebhookDelivery:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        id:
          $ref: '#/components/schemas/Identifier'
        endpoint_id:
          $ref: '#/components/schemas/Identifier'
        event_type:
          $ref: '#/components/schemas/WebhookEventType'
        run_id:
          $ref: '#/components/schemas/Identifier'
        status:
          $ref: '#/components/schemas/WebhookDeliveryStatus'
        attempt_count:
          type: integer
          minimum: 0
        response_status:
          type: integer
          minimum: 100
          maximum: 599
        next_attempt_at:
          $ref: '#/components/schemas/Timestamp'
        delivered_at:
          $ref: '#/components/schemas/Timestamp'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
      required:
        - apiVersion
        - id
        - endpoint_id
        - event_type
        - status
        - attempt_count
        - createdAt
        - updatedAt
    WebhookDeliveryList:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        data:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/WebhookDelivery'
        nextCursor:
          type: string
          minLength: 1
          maxLength: 512
      required: [apiVersion, data]
    ExecuteTaskRequest:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        requestId:
          $ref: '#/components/schemas/Identifier'
        mode:
          type: string
          const: task
        task:
          type: object
          additionalProperties: false
          properties:
            input:
              type: string
              minLength: 1
              maxLength: 16000
          required: [input]
        idempotencyKey:
          $ref: '#/components/schemas/Identifier'
      required: [apiVersion, requestId, mode, task]
    RunStatus:
      type: string
      description: >-
        Public lifecycle status. Internal cancelling and reconcile_required
        states project as running; reconciliation is not terminal.
      enum: [queued, running, awaiting_approval, completed, failed, cancelled]
    RunFailure:
      type: object
      additionalProperties: false
      properties:
        code:
          type: string
          minLength: 1
          maxLength: 96
          description: >-
            run_outcome_unknown identifies an unverified committing outcome.
            Ordinary failed, partial, and expired outcomes use run_failed.
        message:
          type: string
          minLength: 1
          maxLength: 2048
        retryable:
          type: boolean
      required: [code, message, retryable]
    PendingApproval:
      type: object
      additionalProperties: false
      description: >-
        Present only when Praxa can derive the exact recorded browser action
        and bind it to the stored action digest. The summary contains the exact
        recorded instruction or steps followed by the target host.
      properties:
        approvalId:
          $ref: '#/components/schemas/Identifier'
        action_digest:
          type: string
          pattern: '^[a-f0-9]{64}$'
        summary:
          type: string
          minLength: 1
          maxLength: 2048
        expiresAt:
          $ref: '#/components/schemas/Timestamp'
      required: [approvalId, action_digest, summary]
    RunResource:
      type: object
      additionalProperties: false
      properties:
        apiVersion:
          type: string
          const: v1
        run_id:
          type: string
          format: uuid
        requestId:
          $ref: '#/components/schemas/Identifier'
        mode:
          type: string
          const: task
        status:
          $ref: '#/components/schemas/RunStatus'
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        updatedAt:
          $ref: '#/components/schemas/Timestamp'
        completedAt:
          $ref: '#/components/schemas/Timestamp'
        pendingApproval:
          $ref: '#/components/schemas/PendingApproval'
        result:
          type: object
          additionalProperties: false
          description: Present only for schema-valid, digest-matched verified text.
          properties:
            text:
              type: string
              maxLength: 1000000
        failure:
          $ref: '#/components/schemas/RunFailure'
        links:
          type: object
          additionalProperties: false
          properties:
            self:
              type: string
              pattern: '^/v1/runs/'
            events:
              type: string
              pattern: '^/v1/runs/'
          required: [self, events]
      required: [apiVersion, run_id, requestId, mode, status, createdAt, updatedAt, links]
    RunEventBase:
      type: object
      properties:
        apiVersion:
          type: string
          const: v1
        run_id:
          type: string
          format: uuid
        sequence:
          type: integer
          minimum: 0
        at:
          $ref: '#/components/schemas/Timestamp'
      required: [apiVersion, run_id, sequence, at]
    RunEvent:
      oneOf:
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.accepted }
                replayed: { type: boolean }
              required: [type, replayed]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.started }
              required: [type]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.progress }
                message:
                  type: string
                  minLength: 1
                  maxLength: 1024
                  description: >-
                    Reconciliation starts with "The run is reconciling an uncertain execution outcome. Do not retry or resubmit it."
                    Recovery emits "Run reconciliation completed; execution is resuming."
              required: [type, message]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: approval.required }
                approvalId:
                  $ref: '#/components/schemas/Identifier'
                action_digest:
                  type: string
                  pattern: '^[a-f0-9]{64}$'
                summary:
                  type: string
                  minLength: 1
                  maxLength: 2048
                expiresAt:
                  $ref: '#/components/schemas/Timestamp'
              required: [type, approvalId, action_digest, summary]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: approval.resolved }
                approvalId:
                  $ref: '#/components/schemas/Identifier'
                action_digest:
                  type: string
                  pattern: '^[a-f0-9]{64}$'
                decision:
                  type: string
                  enum: [approve, deny]
              required: [type, approvalId, action_digest, decision]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.completed }
                finishReason: { type: string, const: stop }
              required: [type, finishReason]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.failed }
                failure:
                  allOf:
                    - $ref: '#/components/schemas/RunFailure'
                  description: >-
                    An outcome_unknown terminal failure uses code
                    run_outcome_unknown, message "A committing action may have happened, but the final outcome could not be verified. Do not retry automatically.",
                    and retryable false. Ordinary failed, partial, and expired
                    outcomes use run_failed.
              required: [type, failure]
          unevaluatedProperties: false
        - allOf:
            - $ref: '#/components/schemas/RunEventBase'
            - type: object
              properties:
                type: { const: run.cancelled }
              required: [type]
          unevaluatedProperties: false
    ApprovalDecision:
      type: object
      additionalProperties: false
      description: >-
        The digest must be copied from the exact pendingApproval or
        approval.required presentation. Praxa rejects a decision when it cannot
        re-derive that same presentation and digest.
      properties:
        action_digest:
          type: string
          pattern: '^[a-f0-9]{64}$'
        decision:
          type: string
          enum: [approve, deny]
      required: [action_digest, decision]
    ErrorCode:
      type: string
      enum:
        - authentication_failed
        - authorization_failed
        - entitlement_failed
        - rate_limited
        - invalid_request
        - provider_failed
        - tool_failed
        - tool_timed_out
        - approval_timed_out
        - memory_failed
        - stream_interrupted
        - cancelled
        - conflict
        - idempotency_replay
        - internal_failed
    Problem:
      type: object
      additionalProperties: false
      properties:
        type: { type: string, format: uri }
        title: { type: string, minLength: 1, maxLength: 256 }
        status: { type: integer, minimum: 400, maximum: 599 }
        detail: { type: string, maxLength: 2048 }
        instance: { type: string }
        code: { $ref: '#/components/schemas/ErrorCode' }
        requestId: { $ref: '#/components/schemas/Identifier' }
        retryable: { type: boolean }
        retryAfterMs: { type: integer, minimum: 0 }
        fieldErrors:
          type: array
          maxItems: 64
          items:
            type: object
            additionalProperties: false
            properties:
              path: { type: string, minLength: 1, maxLength: 256 }
              code: { type: string, minLength: 1, maxLength: 96 }
              message: { type: string, minLength: 1, maxLength: 512 }
            required: [path, code, message]
      required: [type, title, status, code, retryable]
